/*
dark mode
 */
:root {
    /*
    background color for the navbar and the content boxes
     */
    --nav-content-bgcolor: #131313;

    /*
    background color for subnav and input fields
     */
    --subnav-input-bgcolor: #383838;

    /*
    body background color
     */
    --body-bgcolor: #4d4d4d;

    /*
    theme background color
     */
    --theme-bgcolor: #45bbe7;

    /*
    footer background color
     */
    --footer-bgcolor: #090909;

    /*
    input field text color
     */
    --input-color: #e7e7e7;
}